body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 25px;

}


*,
*:before,
*:after {
    box-sizing: border-box;
}

/* Container */

.container {
    width: 100%;
    max-width: 1680px;
    margin: 0 auto;
}

/* Main */

.main{
    width: 100%;
    background: url("../archiland/img/main.jpeg") center no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}

.main_text {
    padding-top:25vh;
    width:100%;
    max-width: 452px;
    

}

.title {
    font-size: 60px;
    font-weight: 700;
    color: #CA4E22;
    border-bottom: 3px solid #CA4E22;
    border-top: 3px solid #CA4E22 ;
    width: 340px;   

}

.subtitle {
    padding-top: 7vh;
    line-height: 1.7;
    font-weight: 400;
    font-size: 30px;
  
}

/* Header */

.header{
    width: 100%;
    position: absolute;
    padding-top: 25px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navigation{
    text-align: center;
    padding-left: 30%;
}

.link {
    margin: 0 40px ;
    text-decoration: none;
    color: #000;
    font-weight: 500;
}

.link:hover {
    color: #CA4E22;
    text-decoration: 3px underline ;
    transition: .2s linear;
}

/* Blocks */

.blocks{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    
}



.creator{
    background-color: #D2D7D3;
    width: 100%;
    height: 60vh;
}

.site {
    background-color: #7B90A1;
    width: 100%;
    height: 60vh;
}

.cat-secure{
    background-color: #D2D7D3;
    width: 100%;
    height: 60vh; 
}


/* Footer */
 
.footer {
    width: 100%;
    position: absolute;
   
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #B9624E;
    height: 15vh;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    
}

